<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

<!--
        <meta name="description" content="{{ meta_description }}">
        <meta name="author" content="{{ meta_author }}">
-->

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-icons.css') }}" />
        <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>

        {% block jsheader %}
        <script type="text/javascript">
        </script>
        {% endblock %}
-->

        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/foundation-icons.css" />
        <link rel="stylesheet" href="css/results.css" />
        <script src="js/vendor/modernizr.js"></script>

        <!-- <title>{{ title }}</title> -->
        <title>Dashboard</title>

    </head>


    <body>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">My Site</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="large-12 columns">

                <h2>Some Testcase</h2>
                <ul>
                    <li class="passcase">Some Testcase</li>
                    <ul class="subresult">
                        <li class="passresult">Some Subtest</li>
                        <li class="failresult">Some Other Subtest</li>
                    </ul>
                </ul>
                </table>
<!--
                {% block body %}
                <h1> webtrigger Layout</h1>

                <p>
                This is just an example page if the layout is not overridden
                </p>
                {% endblock %}
-->
            </div> <!-- closing main large-12 grid -->
        </div> <!-- closing main row -->
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>
</html>
